body{
    margin: 0 80px 100px 80px; /* внешние отступы: 80 пикселей справаи слева и 100 снизу */
    color: black; /* цвет текста */
    font-size: 17px; /* размер текста */
    font-family: Rubik; /* шрифт текста */
    background-color: Snow; /* цвет фона */
}

h1#d1{
    text-align: center; /* выравниваем текст зоголовка с идентификатором d1 по центру */ 
    font-size: 64px; /* размер шрифта зоголовка */ 
}

h1#d2{
    margin: 50px 0 30px 0; /* внешние отсутпы заголовка с идент. d2: 50 сверху, 30 снизу */
    text-align: center; /* выравниваем текст зоголовка по центру */ 
    font-size: 36px; /* размер шрифта загловка */
}

h2#d1{
    padding-top: 30px; /* внутренний отступ сверзу */
}

article p:first-child { /*используем селектор псевдокласса чтобы изменить только первый дочерний элемент в статье */
    font-weight: bold; /* жирный шрифт */
    font-size: 110%; /* размер шрифта */
} 

p::first-letter { /* используем селектор псевдоэлемента для изменеия только первой буквы каждого абзаца */
  font-weight: 500; /* жирный шрифт */
}

article p span { color: blue; } /* селектор потомка, цепочка из трех селекторов, задаем цвет всем элементам span, среди предков которых есть элемент p, который в свою очередь вложен в элемент article */


a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.first > a { /* селектор дочерних элементов для изменения цвета ссылки, непосредственно вложенной в элемент div с классом first */
    color: #FFFFFF; /* Цвет обычной ссылки */ 
}
.first > a:visited { /* селектор дочерних элементов для изменения цвета посещенной ссылки, непосредственно вложенной в элемент div с классом first */
    color: #FFFFFF; /* Цвет посещённой ссылки */
} 
.first > a:hover { /* селектор дочерних элементов для изменения цвета ссылки (при наведении), непосредственно вложенной в элемент div с классом first */
    color: GreenYellow; /* Цвет ссылки при наведении на нее курсора мыши */  
}

.second > a { /* селектор дочерних элементов для изменения цвета ссылки, непосредственно вложенной в элемент div с классом second */
    color: #000000; /* Цвет обычной ссылки */ 
}
.second > a:visited { /* селектор дочерних элементов для изменения цвета посещенной ссылки, непосредственно вложенной в элемент div с классом second */
    color: #000000; /* Цвет посещённой ссылки */
} 
.second > a:hover { /* селектор дочерних элементов для изменения цвета ссылки (при наведении), непосредственно вложенной в элемент div с классом second */
    color: #623CEA; /* Цвет ссылки при наведении на нее курсора мыши */  
}
 
div{
    height: 300px; /* высота блока */
    width: 90%; /* ширина блока */
    align: center; /* выравнивание по центру */ 
    margin-right: auto; /* внешний авто отступ слева и справа для выравнивания посередине */
    margin-left: auto;
    margin-bottom: 50px; /*внешний отступ снизу */
    border-radius: 5px; /* закругленные углы */
}

.first { /* обращаемся к div с классом first */
    background-color: #623CEA; /* цвет фона */
    color: #ffffff; /* цвет текста */
}

.second { /* обращаемся к div с классом second */
    background-color: #E7DFC6; /* цвет фона */
    text-align: right; /* выравнивание текста по правому краю */
}

.img_wrap_left { /* обращаемся к img с классом img_wrap_left */
    width: 190px; /* ширина картинки */
    height: 280px; /* высота картинки */
    float: left; /* выравнивание картинки по левому краю, обтекание её другуми элементами */
    margin: 10px 30px 10px 10px; /* внешние отступы: 10 сверху, снизу, слева, 30 справа */
    border-radius: 5px; /* закругление углов */
}

.img_wrap_right { /* обращаемся к img с классом img_wrap_right */
    width: 190px; /* ширина картинки */
    height: 280px; /* высота картинки */
    float: right; /* выравнивание картинки по правому краю, обтекание её другуми элементами */
    margin: 10px 10px 10px 30px; /* внешние отступы: 10 сверху, справа, снизу, 30 слева */
    border-radius: 5px; /* закругление углов */
}

div p { /* селектор потомка для изменения ширины абзаца, находящегося в элементе div */
    width: 90%;
}

.first a + p { 
    color: #C5EB3D;   
} /* селектор cестринского элемента для изменеия цвета абзаца p, находящегося непосредственно
за ссылкой a, имеющего с ним общего родителя div с классом first */

.second a + p {
    color: #9400D3;   
} /* селектор cестринского элемента для изменеия цвета абзаца p, находящегося непосредственно
за ссылкой a, имеющего с ним общего родителя div с классом second */

ul { 
    list-style: none; /* убираем маркер списка */
}

h1#d3 ~ p { text-indent: 20px; } /* с помощью селектора обобщенных родственных элементов 
задаем отступ красной строки всем абзацам, которые следуют после загловка h1 с 
идентификатором d3 */

h4, h5 {  color:blue;} /* группировка селекторов для изменения цвета заголовков h4, h5 */


